.topnav {
  float:top;
  overflow: hidden;
  background-color: #34495E;
  font-size: 17px;
  font-color:white;  
  top:0;
}

.topnav a {
  float: top;
  display: block;
  color: #34495E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-color:white;
  position:absolute;
  left:1000px;
}


/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 350px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #34495E; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 350px; /* Same as the width of the sidenav */    
    padding: 0px 10px;
}

body{
    background-color: FloralWhite !important;
	font-family: sans-serif;
}
h1 {
	font-family: sans-serif;
}

h2{
	padding-left: 20px;
	font-family: sans-serif;
}


.button {     
	background-color: #1ABC9C;
    color: white;
    padding: 5px;
	font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	border-radius: 12px;
	cursor:pointer;	
}

.button:hover {
background-color: #48C9B0;
 box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}


.textbox{
	background-color:white;	
	height: 35px;
	border: 1px solid lightgrey; 
	border-radius: 10px;
	padding-left: 10px;
	font-size: 22px;
}

.textbox:focus{ 
border: 1px solid #1ABC9C; 
border-radius: 10px;
padding-left: 10px;
font-size: 22px;
outline: 0;
}

.dropdown{
	background-color:white;	
	height: 35px;	
	font-size: 22px;
	border-radius: 10px;
}

.dropdown:focus{ 
border: 1px solid #1ABC9C; 
font-size: 22px;
outline: 0;
border-radius: 10px;
}

.ursecuretitle{
	color:white; 
	font-size:40px; 
	cursor:pointer;
	type: submit;
}

.deletebutton{
	background-color: red;    
	color: white;	
	border-radius: 2px;
	font-size: 16px;
	pointer: cursor;
	outline: 1px black;
	box-shadow: 0 0 3pt 2pt red;
	text-decoration: none;
}

.editbutton{
	background-color: #1ABC9C;    
	color: white;	
	border-radius: 2px;
	font-size: 16px;
	pointer: cursor;
	outline: 1px black;
	box-shadow: 0 0 3pt 2pt #1ABC9C;
	text-decoration: none;
}

.recordsbutton{
	background-color: #0066ff;    
	color: white;	
	border-radius: 2px;
	font-size: 16px;
	pointer: cursor;
	outline: 1px black;
	box-shadow: 0 0 3pt 2pt #0066ff;
	text-decoration: none;
}

.logoutbutton {     
	background-color: #66ccff;
    color: white;
    padding: 5px;
	font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	border-radius: 12px;
	cursor:pointer;	
}

.logoutbutton:hover {
background-color: #80d4ff;
color: #e6f7ff;
text-decoration: none;
 box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}